# Dependencies
node_modules
dist

# Logs
*.log
logs

# Environment
.env
.env.local
.env.*.local

# Testing
coverage

# IDEs
.idea
.vscode

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Build
.next
.turbo

# Misc
*.tsbuildinfo
